@let isUsernameInvalid = loginForm.username().invalid() && loginForm.username().touched() ? 'p-invalid' : '';
@let isPasswordInvalid = loginForm.password().invalid() && loginForm.password().touched() ? 'p-invalid' : '';
<form (submit)="onSubmit($event)" class="grid gap-3">
  <div class="grid gap-1">
    <p-iconfield [class]="isUsernameInvalid">
      <p-inputicon class="pi pi-user" />
      <input
        type="text"
        [pAutoFocus]="true"
        id="username"
        autocomplete="on"
        pInputText
        size="small"
        fluid
        placeholder="Enter your username"
        [formField]="loginForm.username"
        [ngClass]="isUsernameInvalid"
      />
    </p-iconfield>
    @if (loginForm.username().touched() && loginForm.username().invalid()) {
      <div class="error-list">
        @for (error of loginForm.username().errors(); track error) {
          <p-message size="small" severity="error">{{ error.message }}</p-message>
        }
      </div>
    }
  </div>
  <div class="grid gap-1">
    <p-iconfield [class]="isPasswordInvalid" class="relative flex items-center">
      <p-inputicon class="pi pi-{{ isPasswordMasked() ? 'lock' : 'unlock' }}" />
      <input
        [type]="isPasswordMasked() ? 'password' : 'text'"
        id="password"
        autocomplete="on"
        pInputText
        size="small"
        fluid
        placeholder="Enter Password"
        [formField]="loginForm.password"
        [ngClass]="isPasswordInvalid"
      />
      <span
        class="toggle-mask rounded-md"
        role="button"
        tabindex="0"
        (keydown.enter)="isPasswordMasked.set(!isPasswordMasked())"
        (keydown.space)="isPasswordMasked.set(!isPasswordMasked())"
        (click)="isPasswordMasked.set(!isPasswordMasked())"
      >
        <p-inputicon class="pi pi-{{ isPasswordMasked() ? 'eye' : 'eye-slash' }}" />
      </span>
    </p-iconfield>
    @if (loginForm.password().touched() && loginForm.password().invalid()) {
      <div class="error-list">
        @for (error of loginForm.password().errors(); track error) {
          <p-message size="small" severity="error">{{ error.message }}</p-message>
        }
      </div>
    }
  </div>
  <a routerLink="/forget-password" class="ms-auto text-sm">Forgot Password?</a>
  @let isInValid = loginForm().invalid();
  <button
    pButton
    size="large"
    [severity]="isInValid ? 'secondary' : 'primary'"
    [loading]="loading()"
    [disabled]="loginForm().invalid()"
    type="submit"
  >
    <span pButtonLabel>Submit</span>
    <i class="pi pi-sign-in" pButtonIcon></i>
  </button>
  @if (errorMessage()) {
    <p-message size="small" severity="error">{{ errorMessage() }}</p-message>
  }
</form>
