@let userName = `${$safeNavigationMigration(userInfo?.firstName)} ${$safeNavigationMigration(userInfo?.lastName)}`;
<p-splitbutton class="max-w-fit" label="User Name" [model]="items()" severity="secondary">
  <ng-template #content>
    <span class="flex items-center font-bold" navigate [path]="'/my-profile'">
      <i class="fa-solid fa-user-circle text-xl mr-2 shrink-0"></i>
      <span class="text-ellipsis inline-block w-full whitespace-nowrap">{{ userName || 'User Name' }}</span>
    </span>
  </ng-template>
</p-splitbutton>
