:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-inline-end: calc(var(--main-header-padding) / 2);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}
