:host {
  --x-inputtext-background: rgba(255, 255, 255, 0.05);
  p-inputotp {
    --x-inputotp-input-width: 4rem;
    --x-inputtext-padding-x: 0;
    ::ng-deep .p-inputtext {
      font-size: 1.75rem;
      line-height: 1.5;
    }
    ::ng-deep .p-inputotp-input.p-filled {
      background-color: #fff;
    }
    ::ng-deep .p-inputtext:enabled:focus {
      --x-inputtext-background: rgba(255, 255, 255, 0.25);
    }
  }
}
