:host {
  --viewport-height: 100dvh;
  --block-padding: 1.5rem;
  --content-max-w: 75rem;
  --content-max-h: calc(var(--viewport-height, 100vh) - var(--block-padding) * 2);
  --block-max-width: 22rem;
  --block-gap: 1.5rem;
  --client-logo-size: calc(5rem + 3.5vw);
  --x-inputtext-padding-y: 0.75rem;
  --x-inputtext-padding-x: 2.25rem;
  --x-icon-size: 1.15rem;

  position: relative;
  display: block;
  min-height: var(--viewport-height, 100dvh);
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--block-padding);

  .auth-layout-host-content {
    position: relative;
    border-radius: calc(var(--x-border-radius-xl) + 0.5vw);
    corner-shape: scoop;
    z-index: 1;
    width: auto;
    max-width: 95vw;
    max-height: 80dvh;
    aspect-ratio: 16 / 9;
    display: flex;
    overflow: clip;
    box-shadow: 0 0 0 0.35rem rgba(255 255 255 / 0.1);
    @media screen and (height < 600px) {
      min-height: 30rem;
    }


    .dynamic-content {
      flex-grow: 1;
      backdrop-filter: blur(1rem) brightness(150%);
      /* backdrop-filter: url(#glass-distortion);
      -webkit-backdrop-filter: blur(1rem) brightness(200%); */
      padding: var(--block-padding);
      color: white;
      .p-inputicon {
        font-size: var(--x-icon-size);
      }
      .powered-by {
        position: absolute;
        inset-block-end: 1rem;
        text-align: center;
        width: calc(100% - var(--block-padding) * 2);
      }
    }

    .ads-banner-container {
      position: relative;
      flex-shrink: 0;
      aspect-ratio: 1 / 1;
      overflow: clip;
      border-start-end-radius: inherit;
      border-end-end-radius: inherit;
    }
  }
}
