<app-auth-backdrop />
<div class="auth-content-wrapper">
  <div class="auth-layout-host-content">
    <div class="dynamic-content">
      <div class="auth-form-wrapper">
        <ng-content>Auth Routes Content</ng-content>
      </div>
      <small class="powered-by text-white/80">
        Powered By:
        <a href="https://www.skyxhub.com/" target="_blank" class="uppercase font-xs font-bold">SkyXHub Technologies</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span>Version: 1.0.0</span>
      </small>
    </div>
    <div class="ads-banner-container">
      <app-auth-ad-banners />
    </div>
  </div>
</div>
