@import './variables/variables.css';
@import './utils/typography.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import "primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
}

img {
  max-width: 100%;
  display: inline-block;
}
